<!-- This is the new user page -->
<!DOCTYPE html>
<html>
<title>New User</title>
<!-- Since this is a new user, we need to make a call to the database to find the last username is. -->
<!-- So a script should get called here. -->

<!-- The script should create the new username, and create a record with nothing but null values. -->
<!-- It should come back here and then we should go to the first form for the user to fill out. -->
<head>
    <!-- Bootstrap CSS -->
    
</head>
<body>
    
    <h1>Hello!</h1>

    
    <form action="/newuser" id="newuserform" method="POST">
        Your email: <input type="text" id="userID" name="userId" value=""><br>
        <button type="submit" value="Submit">Submit</button>
   </form>
</body>

</html>