<!doctype html>

<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form 1</title>
  </head>
  <body>
    <form action="/formsubmit2" method="post">

        <h3>Profile</h3>
        <!-- How old are you -->
        <h4>How old are you?</h4>

        <div>
            <select name="AgeRange">        
            <option selected="selected" value="Under 18">Under 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="35-44">35-44</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-64</option>
            <option value="65+">65+</option>
          
            </select><br /></div>

        <!-- What is your gender -->
        <h4>What is your gender?</h4>

        <div>
            <select name="Gender">        
    <option selected="selected" value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Transgender">Transgender</option>
    <option value="Prefer not to say">Prefer not to say</option>
    </select><br /></div>


        <!-- What is your sexual orientation -->
        <h4>What is your sexual orientation?</h4>

        <div>
            <select name="Orientation">        
    <option selected="selected" value="Heterosexual">Heterosexual</option>
    <option value="Homosexual">Homosexual</option>
    <option value="Bisexual">Bisexual</option>
    <option value="Pansexual">Pansexual</option>
    <option value="Asexual">Asexual</option>
    </select><br /></div>


        <h3>Ratings</h3>

        <!-- Please rate yourself on each of these values  -->
        <h4>Please rate yourself on each of the following values</h4>
        <div>
            <label>Education/Knowledge/Street Smarts</label>
            <select name="SelfEducation">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
<option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
<option value="1">1</option>
  </select><br />
        </div>


        <label>Financial Choices</label>
        <div>
            <select name="SelfFinancial">
          <option selected="selected" value="10">10</option>
          <option value="9">9</option>
          <option value="8">8</option>
          <option value="7">7</option>
          <option value="6">6</option>
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
            </select><br />
        </div>

        <label>Confidence/Self-Esteem</label>
        <div>
            <select name="SelfConfidence">
                <option selected="selected" value="10">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                  </select><br /> </div>

        <label>Religious Spiritual Values</label>

        <select name="SelfReligious">
                  <option selected="selected" value="10">10</option>
                  <option value="9">9</option>
                  <option value="8">8</option>
                  <option value="7">7</option>
                  <option value="6">6</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                    </select><br />
        <div>
            <label>Materialism</label>
            <select name="SelfMaterialism">
  
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Image (Fashion sense/Body Modifications)</label>
            <select name="SelfImage">
  
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Occupation</label>
            <select name="SelfOccupation">
 
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Work Ethic</label>
            <select name="SelfWorkethic">
 
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Household Care, Maintenance and Cleanliness</label>
            <select name="SelfHousehold">
 
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Communication Style/Manners</label>
            <select name="SelfCommunication">
  
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>
        <div>
            <label>Artsy/Creative/Musical</label>
            <select name="SelfArtsy">
  
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Charitable/Philanthropic</label>
            <select name="SelfCharitable">
  
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Pursuing a Greater Purpose</label>
            <select name="SelfPurpose">
 
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Social Status/Sociability</label>
            <select name="SelfStatus">
  
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Cultured/Well-traveled/"Woke"</label>
            <select name="SelfCultured">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Self-Care/Personal Hygiene/Cleanliness</label>
            <select name="SelfSelfCare">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Honesty/Dependable/Reliable</label>
            <select name="SelfHonesty">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>

        <div>
            <label>Family Values</label>
            <select name="SelfFamily">
 
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
        </div>
        <!-- Please rate your top 5 values -->
        <h4>Please tell us your top 5 values</h4>

        <label>Value 1</label>
        <select name="Value1">        
            <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
            <option value="Financial Choices">Financial Choices</option>
            <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
            <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
            <option value="Materialism/Superficiality">Materialism</option>
            <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
            <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
            <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
            <option value="Communication Style/Manners">Communication Style/Manners</option>
            <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
            <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
            <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
            <option value="Social Status/Sociability">Social Status/Sociability</option>
            <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
            <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
            <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
            <option value="Family Values">Family Values</option>
            </select><br /></div>

        <label>Value 2</label>
        <select name="Value2">        
            <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
            <option value="Financial Choices">Financial Choices</option>
            <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
            <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
            <option value="Materialism/Superficiality">Materialism</option>
            <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
            <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
            <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
            <option value="Communication Style/Manners">Communication Style/Manners</option>
            <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
            <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
            <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
            <option value="Social Status/Sociability">Social Status/Sociability</option>
            <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
            <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
            <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
            <option value="Family Values">Family Values</option>
            </select><br /></div>
        <div>
            <label>Value 3</label>
            <select name="Value3">        
              <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
              <option value="Financial Choices">Financial Choices</option>
              <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
              <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
              <option value="Materialism/Superficiality">Materialism</option>
              <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
              <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
              <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
              <option value="Communication Style/Manners">Communication Style/Manners</option>
              <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
              <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
              <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
              <option value="Social Status/Sociability">Social Status/Sociability</option>
              <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
              <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
              <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
              <option value="Family Values">Family Values</option>
              </select><br /></div>
        <label>Value 4</label>
        <select name="Value4">        
              <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
              <option value="Financial Choices">Financial Choices</option>
              <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
              <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
              <option value="Materialism/Superficiality">Materialism</option>
              <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
              <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
              <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
              <option value="Communication Style/Manners">Communication Style/Manners</option>
              <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
              <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
              <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
              <option value="Social Status/Sociability">Social Status/Sociability</option>
              <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
              <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
              <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
              <option value="Family Values">Family Values</option>
              </select><br /></div>
        <div>
            <div>
                <label>Value 5</label>
                <select name="Value5">        
                  <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
                  <option value="Financial Choices">Financial Choices</option>
                  <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
                  <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
                  <option value="Materialism/Superficiality">Materialism</option>
                  <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
                  <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
                  <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
                  <option value="Communication Style/Manners">Communication Style/Manners</option>
                  <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
                  <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
                  <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
                  <option value="Social Status/Sociability">Social Status/Sociability</option>
                  <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
                  <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
                  <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
                  <option value="Family Values">Family Values</option>
                  </select><br />
            </div>
            <div>
                <h4>Please rate yourself on each of the following 'type' traits</h4>

                <label>Attractive Appearance</label>
                <select name="SelfAppearance">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <label>Social/Outgoing/Extroverted</label>

            <div>
                <select name="SelfSocial">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <label>Soft-spoken/Shy/Introverted</label>

            <div>
                <select name="SelfShy">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <label>Alpha/Leader</label>

            <div>
                <select name="SelfAlpha">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <div>
                <label>Humorous/Witty/Clever</label>
                <select name="SelfHumorous">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <div>
                <label>Spontaneous/Unpredictable</label>
                <select name="SelfSpontaneous">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <div>
                <label>Generous/Thoughtful/Kind</label>
                <select name="SelfGenerous">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />
            </div>
            <div>
                <label>Passionate/Driven/Ambitious</label>
                <select name="SelfDriven">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />

                <label>Intuitive/Good instinct/Emotionally Intelligent</label>
                <select name="SelfIntuitive">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br />

                <div>
                    <label>Sexual/Sensual</label>
                    <select name="SelfSexual">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br /></div>
                <div>
                    <label>Open-minded/Curious/Free-Spirited</label>
                    <select name="SelfOpenMinded">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br /> </div>

                <div>
                    <label>Good Presence/Vibe</label>
                    <select name="SelfVibe">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br/></div>

                <div>
                    <label>Over-giving/Over-forgiving/Subservient</label>
                    <select name="SelfOvergiving">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br /></div>

                <div>
                    <label>Controlling/Dominant</label>
                    <select name="SelfDominant">
<option selected="selected" value="10">10</option>
<option value="9">9</option>
<option value="8">8</option>
 <option value="7">7</option>
<option value="6">6</option>
<option value="5">5</option>
<option value="4">4</option>
<option value="3">3</option>
<option value="2">2</option>
 <option value="1">1</option>
</select><br /></div>

                <!-- Please rate your top 5 values -->
                <h4>Please tell us your top 5 type traits</h4>

                <div>
                    <label>Trait 1</label>
                    <select name="Type1">
  <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
  <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
  <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
  <option value="Alpha/Leader">Alpha/Leader</option>
  <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
  <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
  <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
  <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
  <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
  <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
  <option value="Sexual/Sensual">Sexual/Sensual</option>
  <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
  <option value="Presence/Vibe">Good Presence/Vibe</option>
  <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
  <option value="Controlling/Dominant">Controlling/Dominant </option>
  </select><br /></div>
                <div>

                    <div>
                        <label>Trait 2</label>
                        <select name="Type2">
      <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
      <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
      <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
      <option value="Alpha/Leader">Alpha/Leader</option>
      <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
      <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
      <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
      <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
      <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
      <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
      <option value="Sexual/Sensual">Sexual/Sensual</option>
      <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
      <option value="Presence/Vibe">Good Presence/Vibe</option>
      <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
      <option value="Controlling/Dominant">Controlling/Dominant </option>
      </select><br /></div>

                    <label>Trait 3</label>
                    <select name="Type3">
      <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
      <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
      <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
      <option value="Alpha/Leader">Alpha/Leader</option>
      <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
      <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
      <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
      <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
      <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
      <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
      <option value="Sexual/Sensual">Sexual/Sensual</option>
      <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
      <option value="Presence/Vibe">Good Presence/Vibe</option>
      <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
      <option value="Controlling/Dominant">Controlling/Dominant </option>
      </select><br /></div>

                <div>
                    <label>Trait 4</label>
                    <select name="Type4">
        <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
        <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
        <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
        <option value="Alpha/Leader">Alpha/Leader</option>
        <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
        <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
        <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
        <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
        <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
        <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
        <option value="Sexual/Sensual">Sexual/Sensual</option>
        <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
        <option value="Presence/Vibe">Good Presence/Vibe</option>
        <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
        <option value="Controlling/Dominant">Controlling/Dominant </option>
        </select><br /></div>

                <label>Trait 5</label>
                <select name="Type5">
        <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
        <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
        <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
        <option value="Alpha/Leader">Alpha/Leader</option>
        <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
        <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
        <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
        <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
        <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
        <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
        <option value="Sexual/Sensual">Sexual/Sensual</option>
        <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
        <option value="Presence/Vibe">Good Presence/Vibe</option>
        <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
        <option value="Controlling/Dominant">Controlling/Dominant </option>
        </select><br /> </div>




  <br>
  <br>
  <br>
            <h3>Personality Test</h3>
            <!-- <p>Left: I base my relationship decisions on what make the most logical sense</p>
<p>Right: I base my decisions on what 'feels right.'</p>  -->


            <!-- <p>Left: I base my relationship decisions on what make the most logical sense</p>
<p>Right: I base my decisions on what 'feels right.'</p>  -->
<!-- SLIDER CONTAINER  -->
<div class="container-fluid">
      <div class=row>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="d-flex justify-content-center my-4" id="S1_LogicVsFeelings">
                <span class="font-weight-bold blue-text mr-2 mt-1">I base my relationship decisions on what makes the most logical sense.</span>
              </div>
            </div>
            <div class="col-md-2">
            <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S1_LogicVsFeelings" />
                  </div>
                </div>
                <div class="col-md-3">
                <span class="font-weight-bold blue-text ml-2 mt-1">I base my decisions on what 'feels' right.</span>
              </div>
            </div>
            </br>
            </br>
            <div class="row">
            <div class="d-flex justify-content-center my-4" id="S1_QuitsVsStays">
                <span class="font-weight-bold blue-text mr-2 mt-1">I know when to call it quits.</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S1_QuitsVsStays" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I stay in relationships longer than I should.</span>
              </div>
            </div>
            </br>
            </br>
            <div class="d-flex justify-content-center my-4" id="S1_PracticalVsEmotional">
                <span class="font-weight-bold blue-text mr-2 mt-1">I seek practical benefits in relationships.</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S1_PracticalVsEmotional" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I seek emotional benefits in relationships.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S1_CompatibilityVsChemistry">
                <span class="font-weight-bold blue-text mr-2 mt-1">Compatibility is more important than chemistry.</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S1_CompatibilityVsChemistry" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">Chemistry is more important than compatibility</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S2_ImprovementVsAcceptance">
                <span class="font-weight-bold blue-text mr-2 mt-1">I think everyone has room to improve themselves</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S2_ImprovementVsAcceptance" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I love and appreciate my partner for who they are.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S2_ShortcomingsVSAcceptance">
                <span class="font-weight-bold blue-text mr-2 mt-1">I think my partner should actively work on their shortcomings</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S2_ShortcomingsVSAcceptance" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I don't judge my partner for their shortcomings</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S3_SocialAcceptanceVsDontCare">
                <span class="font-weight-bold blue-text mr-2 mt-1">What my friends and family think of my partner is very important to me</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S3_SocialAcceptanceVsDontCare" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I don't care what my friends and family think about my partner.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S2_PickyVsPositives">
                <span class="font-weight-bold blue-text mr-2 mt-1">I am picky.</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S2_PickyVsPositives" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I easily find positives in my partner.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S3_SocialAcceptanceVsDontCare">
                <span class="font-weight-bold blue-text mr-2 mt-1">What my friends and family think of my partner is very important to me.</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S3_SocialAcceptanceVsDontCare" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I don't care what my friends and family think about my partner.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S3_SimilarVsDifferent">
                <span class="font-weight-bold blue-text mr-2 mt-1">I prefer a partner lives by a similar lifestyle</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S3_SimilarVsDifferent" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I appreciate different ways of doing life.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S4_LowStandardsVsHighStandards">
                <span class="font-weight-bold blue-text mr-2 mt-1">I lower my standards to be in a relationship</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S4_LowStandardsVsHighStandards" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I only get in relationships if they meet or exceed my standards.</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S4_ImBetterVsMatch">
                <span class="font-weight-bold blue-text mr-2 mt-1">I feel more secure in a relationship if I know I’m better than my partner</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S4_ImBetterVsMatch" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I feel more secure in a relationship with a partner who is a match or better than me</span>
            </div>
            </br>
            </br>

            <div class="d-flex justify-content-center my-4" id="S4_StayIfImBetterVsStayIfPartnerBetter">
                <span class="font-weight-bold blue-text mr-2 mt-1">I stay in relationships longer if I think I’m better than my partner</span>
                <div class="range-field w-50">
                    <input class="border-0" type="range" min="0" max="100" name="S4_StayIfImBetterVsStayIfPartnerBetter" />
                </div>
                <span class="font-weight-bold blue-text ml-2 mt-1">I stay in relationships longer if I think my partner is better than me</span>
            </div>
          </div>
            </br>
            </br>



            <!-- Submit -->

            <button type="submit" value="Submit">Submit</button></fieldset>
    </form>
    </form>
    </body>

</html>