<!-- This is the returning user page -->
<html>
<title>Returning User</title>

<body>

    <!-- First we need to get the username from the user. -->
    <h1>Please enter the username received from your previous visit.</h1>
    <label>Username:</label><br /> <input age="username" type="text" value="" />

    <!-- We then invoke a script on enter to check to see if it exists or not. -->
    <!-- The script should come back with an error if it doesn't exist, and then ask again -->
    <!-- (by reloading this page) or then acknowledge the name was found and then -->
    <!-- go to the follow up form -->
    <p><a href="form.html">Click to continue to follow up form</a></p>
    <p><a href="index.html">Oops, I'm not a returning user.</a></p>

</body>

</html>