<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <title>The Love Formula</title>
</head>

<body style="background-color: #FFF4ED;">
    <main role="main">

        <!-- main jumbotron for primary headline -->

        <div class="jumbotron" style="background-image: 
        linear-gradient(
            to bottom,
            #FFECDF 2.5%,
            #FFA59A 5%, 
            #FFA59A 7.5%,
            #E9645B 10%,
            #E9645B 12.5%,
            #B9250E 15%,
            #B9250E 17.5%,
            #E84029 20%,
            #FFECDF 92%,
            #FFF4ED
            );">
                <h1 style="text-align:center;" class="text-white"><i><b>the love formula</b></i></h1>
                <p style="text-align:center;" class="text-white">calculate your perfect match!</p>
        </div>

      <div class="container">
        <!-- let's try an example row of columns-->
        <div class="row">

          <div class="col-md-4" style="text-align:center;">
            <h2>Ready to find love?</h2>
            <p> Let's find your next boo!</p>
            <br>
            <a href="{{url_for('profile')}}" type="button" class="btn btn-primary btn-lg">I'm lonely :(</button></a>
            <br>
        </div>
        <!-- button type="button" id="profile" class="btn btn-primary btn-lg"><a href="profile.html">I am looking for a relationship</a></button><br /> -->
        <div class="col-md-4" style="text-align:center;">
            <h2>Already taken?</h2>
            <p>Cute! But will it last?</p>
            <br>
            <a href ="{{url_for('ratings')}}" type="button" class="btn btn-primary btn-lg">Are we a good match?</button></a></br>
            <!-- <button type="button" class="btn btn-primary btn-lg"><a href="rating.html">Are we a good match?</a></button> -->
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h2>Returning user?</h2>
            <p>Can we really see the future? Let us know!</p>
            <br>
            <a href ="{{url_for('survey')}}" type="button" class="btn btn-primary btn-lg">Survey</button></a></br>
        </div>
    </div>
</div>
    <!-- <button type="button" class="btn btn-primary btn-lg"><a href="survey.html">Survey</a></button> -->

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="form.js"></script> -->
</body>

</html>


<!-- 
<h3>Personality Test</h3> 
<p>Left: I base my relationship decisions on what make the most logical sense</p>
<p>Right: I base my decisions on what 'feels right.'</p> 
<div class="rangeslider"> 
  <input type="range" min="1" max="100" value="10"
                  class="myslider" id="sliderRange"> 
  <p>Value: <span id="demo"></span></p> 
</div> 
  
<script> 
var rangeslider = document.getElementById("sliderRange"); 
var output = document.getElementById("demo"); 
output.innerHTML = rangeslider.value; 
  
rangeslider.oninput = function() { 
  output.innerHTML = this.value; 
}  -->