<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Survey</title>
    <form action="/formsubmit1" method="post">

        <h3>Profile</h3>
        <!-- How old are you -->
        <h4>How old are you?</h4>
        <div>
            <select name="AgeRange">        
            <option selected="selected" value="Under 18">Under 18</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="35-44">35-44</option>
            <option value="45-54">45-54</option>
            <option value="55-64">55-64</option>
            <option value="65+">65+</option>
          
            </select><br /></div>


        <!-- What is your gender -->
        <h4>What is your gender?</h4>


        <div>
            <select name="Gender">        
            <option selected="selected" value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Transgender">Transgender</option>
            <option value="Prefer not to say">Prefer not to say</option>
            </select><br /></div>


        <!-- What is your sexual orientation -->
        <!-- What is your sexual orientation -->
        <h4>What is your sexual orientation?</h4>

        <div>
            <select name="Orientation">        
    <option selected="selected" value="Heterosexual">Heterosexual</option>
    <option value="Homosexual">Homosexual</option>
    <option value="Bisexual">Bisexual</option>
    <option value="Pansexual">Pansexual</option>
    <option value="Asexual">Asexual</option>
    </select><br /></div>
        <h3>Ratings</h3>

        <h4>What is your relationship status?</h4>

        <div>
            <select name="CurrentStatus">        
            <option selected="selected" value="We are currently together.">We are currently together.</option>
            <option value="We are currently on a 'break'.">We are currently on a 'break'.</option>
            <option value="I broke up with him/her.">I broke up with him/her.</option>
            <option value="He/She broke up with me."> He/She broke up with me.</option>
            <option value="It was a mutual break up.">It was a mutual break up. </option>
            </select><br /></div>

        <h4>How long were you/have you been together?</h4>
        <div>
            <select name="TogetherTime">        
                <option selected="selected" value="Under 1 month">Under 1 month</option>
                <option value="1-3 months.">1-3 months </option>
                <option value="3-6 months">3-6 months</option>
                <option value="6months - 1 year"> 6months - 1 year</option>
                <option value="1-2 years">1-2 years  </option>
                <option value="4-7 years"> 4-7 years</option>
                <option value="7 years+">7 years+ </option>
                </select><br /></div>



        <h4>How would you describe this relationship?</h4>


        <div>
            <select name="RelationshipDescription">        
            <option selected="selected" value="He/She was slightly out of my league.">He/She was slightly out of my league.</option>
            <option value="He/She was very much out of my league ">He/She was very much out of my league </option>
            <option value="I was slightly out of his/her league.">I was slightly out of his/her league.</option>
            <option value="I was very much out of his/her league."> I was very much out of his/her league.</option>
            <option value="I thought we were a good match. ">I thought we were a good match. </option>
            </select><br /></div>


        <h3>Ratings & Assessment</h3>

        <!-- Please rate yourself on each of these values  -->
        <h4>What are your top 5 values by order of importance? <br /> How would you rate yourself and your partner for each of the values?</h4>

        <label>Value 1</label>
        <select name="Value1">        
    <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
    <option value="Financial Choices">Financial Choices</option>
    <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
    <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
    <option value="Materialism/Superficiality">Materialism</option>
    <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
    <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
    <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
    <option value="Communication Style/Manners">Communication Style/Manners</option>
    <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
    <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
    <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
    <option value="Social Status/Sociability">Social Status/Sociability</option>
    <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
    <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
    <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
    <option value="Family Values">Family Values</option>
    </select><br /></div>

        <label>How would you rate yourself for this value?</label>

        <select name="SelfValue1">     
    <option selected="selected" value="10">10</option>
    <option value="9">9</option>
    <option value="8">8</option>
    <option value="7">7</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
      </select><br /></div>

        <label>How would you rate your partner for this value?</label>

        <select name="PartnerValue1">
    <option selected="selected" value="10">10</option>
    <option value="9">9</option>
    <option value="8">8</option>
    <option value="7">7</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
      </select><br />
        <br /></div>

        <div>

            <label>Value 2</label>
            <select name="Value2">        
        <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
        <option value="Financial Choices">Financial Choices</option>
        <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
        <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
        <option value="Materialism/Superficiality">Materialism</option>
        <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
        <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
        <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
        <option value="Communication Style/Manners">Communication Style/Manners</option>
        <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
        <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
        <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
        <option value="Social Status/Sociability">Social Status/Sociability</option>
        <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
        <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
        <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
        <option value="Family Values">Family Values</option>
        </select><br /></div>

        <div>

            <label>How would you rate yourself for this value?</label>

            <select name="SelfValue2">
            <option selected="selected" value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
              </select><br /></div>
        <div>

            <label>How would you rate your partner for this value?</label>

            <select name="PartnerValue2">
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br />
            <br /></div>

        <div>
            <label>Value 3</label>
            <select name="Value3">        
                <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
                <option value="Financial Choices">Financial Choices</option>
                <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
                <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
                <option value="Materialism/Superficiality">Materialism</option>
                <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
                <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
                <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
                <option value="Communication Style/Manners">Communication Style/Manners</option>
                <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
                <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
                <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
                <option value="Social Status/Sociability">Social Status/Sociability</option>
                <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
                <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
                <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
                <option value="Family Values">Family Values</option>
                </select><br /></div>

        <div>
            <label>How would you rate yourself for this value?</label>

            <select name="SelfValue3">
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br /></div>

        <div>

            <label>How would you rate your partner for this value?</label>

            <select name="PartnerValue3">
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br />
            <br /></div>

        <div>
            <label>Value 4</label>
            <select name="Value4">        
                <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
                <option value="Financial Choices">Financial Choices</option>
                <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
                <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
                <option value="Materialism/Superficiality">Materialism</option>
                <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
                <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
                <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
                <option value="Communication Style/Manners">Communication Style/Manners</option>
                <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
                <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
                <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
                <option value="Social Status/Sociability">Social Status/Sociability</option>
                <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
                <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
                <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
                <option value="Family Values">Family Values</option>
                </select><br /></div>
        <div>
            <label>How would you rate yourself for this value?</label>

            <select name=SelfValue4>
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br /></div>


        <div>
            <label>How would you rate your partner for this value?</label>

            <select name=PartnerValue4>
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br />
            <br />
        </div>
        <div>
            <label>Value 5</label>
            <select name="Value5">        
                <option selected="selected" value="Education/Knowledge/Street Smarts">Education/Knowledge/Street Smarts</option>
                <option value="Financial Choices">Financial Choices</option>
                <option value="Confidence/Self-Esteem">Confidence/Self-Esteem</option>
                <option value="Religious/Spiritual Values">Religious Spiritual Values</option>
                <option value="Materialism/Superficiality">Materialism</option>
                <option value="Image/Fashion Sense/Body Modification">Image (Fashion sense/Body Modifications)</option>
                <option value="Occupation/Work Ethic/Self-Discipline">Occupation/Work Ethic</option>
                <option value="Household Care, Maintenance and Cleanliness">Household Care, Maintenance and Cleanliness</option>
                <option value="Communication Style/Manners">Communication Style/Manners</option>
                <option value="Artsy/Creative/Musical">Artsy/Creative/Musical</option>
                <option value="Charitable/Philanthropic">Charitable/Philanthropic</option>
                <option value="Pursuing a Greater Purpose">Pursuing a Greater Purpose </option>
                <option value="Social Status/Sociability">Social Status/Sociability</option>
                <option value="Cultured/Well-traveled/Woke">Cultured/Well-traveled/Woke</option>
                <option value="Self-Care/Personal Hygiene/Cleanliness">Self-Care/Personal Hygiene/Cleanliness</option>
                <option value="Honesty/Dependable/Reliable">Honesty/Dependable/Reliable</option>
                <option value="Family Values">Family Values</option>
                </select><br />
        </div>
        <div>
            <label>How would you rate yourself for this value?</label>

            <select name=SelfValue5>
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br />
        </div>
        <div>
            <label>How would you rate your partner for this value?</label>

            <select name=PartnerValue5>
              <option selected="selected" value="10">10</option>
              <option value="9">9</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
                </select><br />
        </div>





        <!-- Please rate your top 5 traits -->

        <h4>Please tell us your top 5 type traits by order of importance <br /> How would you rate yourself and your partner for each of the traits?
        </h4>
        <div>
            <label>Trait 1</label>
            <select name="Type1">
            <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
            <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
            <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
            <option value="Alpha/Leader">Alpha/Leader</option>
            <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
            <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
            <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
            <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
            <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
            <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
            <option value="Sexual/Sensual">Sexual/Sensual</option>
            <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
            <option value="Presence/Vibe">Good Presence/Vibe</option>
            <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
            <option value="Controlling/Dominant">Controlling/Dominant </option>
            </select><br /></div>
        <div>
            <label>How well does your partner fit this trait?</label>

            <select name="PartnerType1">
            <option selected="selected" value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
              </select><br />
            <br /></div>

        <div>
            <label>Trait 2</label>
            <select name="Type2">
              <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
              <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
              <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
              <option value="Alpha/Leader">Alpha/Leader</option>
              <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
              <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
              <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
              <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
              <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
              <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
              <option value="Sexual/Sensual">Sexual/Sensual</option>
              <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
              <option value="Presence/Vibe">Good Presence/Vibe</option>
              <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
              <option value="Controlling/Dominant">Controlling/Dominant </option>
              </select><br /></div>

        <div>
            <label>How well does your partner fit this trait?</label>

            <select name="PartnerType2">
            <option selected="selected" value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
              </select><br />
            <br /></div>

        <div>

            <label>Trait 3</label>
            <select name="Type3">
              <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
              <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
              <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
              <option value="Alpha/Leader">Alpha/Leader</option>
              <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
              <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
              <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
              <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
              <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
              <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
              <option value="Sexual/Sensual">Sexual/Sensual</option>
              <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
              <option value="Presence/Vibe">Good Presence/Vibe</option>
              <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
              <option value="Controlling/Dominant">Controlling/Dominant </option>
              </select><br /></div>

        <div>
            <label>How well does your partner fit this trait?</label>

            <select name="PartnerType3">
            <option selected="selected" value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
              </select><br />
            <br /></div>

        <div>
            <label>Trait 4</label>
            <select name="Type4">
              <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
              <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
              <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
              <option value="Alpha/Leader">Alpha/Leader</option>
              <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
              <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
              <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
              <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
              <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
              <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
              <option value="Sexual/Sensual">Sexual/Sensual</option>
              <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
              <option value="Presence/Vibe">Good Presence/Vibe</option>
              <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
              <option value="Controlling/Dominant">Controlling/Dominant </option>
              </select><br /></div>

        <div>
            <label>How well does your partner fit this trait?</label>

            <select name="PartnerType4">
            <option selected="selected" value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
              </select><br />
            <br /></div>

        <div>

            <label>Trait 5</label>
            <select name="Type5">
              <option selected="selected" value="Body Shape/Height/Appearance">Attractive Appearance</option>
              <option value="Social/Outgoing/Extroverted">Social/Outgoing/Extroverted</option>
              <option value="Soft-spoken/Shy/Introverted">Soft-spoken/Shy/Introverted</option>
              <option value="Alpha/Leader">Alpha/Leader</option>
              <option value="Beta/Easygoing/Mild-mannered">Beta/Easygoing/Mild-mannered</option>
              <option value="Humorous/Witty/Clever">Humorous/Witty/Clever</option>
              <option value="Spontaneous/Unpredictable">Spontaneous/Unpredictable</option>
              <option value="Generous/Thoughtful/Kind">Generous/Thoughtful/Kind</option>
              <option value="Passionate/Driven/Ambitious">Passionate/Driven/Ambitious</option>
              <option value="Intuitive/Good instinct/Emotionally Intelligent">Intuitive/Good instinct/Emotionally Intelligent</option>
              <option value="Sexual/Sensual">Sexual/Sensual</option>
              <option value="Open-minded/Curious/Free-Spirited">Open-minded/Curious/Free-Spirited </option>
              <option value="Presence/Vibe">Good Presence/Vibe</option>
              <option value="Over-giving/Over-forgiving/Subservient">Over-giving/Over-forgiving/Subservient</option>
              <option value="Controlling/Dominant">Controlling/Dominant </option>
              </select><br /> </div>

        <div>
            <label>How well does your partner fit this trait?</label>

            <select name="PartnerType5">
            <option selected="selected" value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
              </select><br />
        </div>
        <br />
        <br />
        <br />



        <label>Please indicate your decision-making process when you entered this relationship/situationship</label><br /><br />


        <div class="d-flex justify-content-center my-4" id="S_DecisionMakingProces">
            <span class="font-weight-bold blue-text mr-2 mt-1">It was based on values</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S_DecisionMakingProcess" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">It was based on type</span>
        </div>
        </br>
        </br>

        <h4>Indicate if the statement applies to you during the time with your significant other (please check all that apply)
        </h4>
        <br>
        <input type="checkbox" name="QP_EmotionalIntelligence">
        <label> I consider myself emotionally intelligent</label> <br>

        <input type="checkbox" name="Q_Jealous">
        <label>I was jealous</label> <br>

        <input type="checkbox" name="Q_PartnerJealous">
        <label>She/He was jealous</label> <br>

        <!-- <input type="checkbox" name="Q_PartnerJealous">
        <label>He/she was manipulative</label> <br> -->

        <input type="checkbox" name="Q_Manipulative">
        <label>He/She was manipulative</label> <br>

        <input type="checkbox" name="QP_SexualChemistry">
        <label>We had great sexual chemistry throughout the relationship</label> <br>

        <input type="checkbox" name="Q_AttractionLoss">
        <label>I was sexually/physically attracted in the beginning and lost it over time</label> <br>

        <input type="checkbox" name="Q_Suffocated">
        <label>I often felt suffocated</label> <br>

        <input type="checkbox" name="Q_Attention">
        <label>I often wanted more attention/affection than my partner</label><br>

        <input type="checkbox" name="Q_CouldDoBetter">
        <label>I felt I could do better</label> <br>

        <input type="checkbox" name="Q_NotGoodEnough">
        <label>I felt I was not good enough for him/her</label> <br>

        <input type="checkbox" name="QP_Longterm">
        <label>I wished for something long-term</label> <br>

        <input type="checkbox" name="QP_Independent">
        <label>He/she encouraged me to be independent</label> <br>

        <input type="checkbox" name="Q_Coping">
        <label>I had unhealthy coping mechanisms to deal with relationship stress</label> <br>

        <input type="checkbox" name="QP_SelfCare">
        <label>Self-care was important to me</label> <br>

        <input type="checkbox" name="Q_EmotionallyDrained">
        <label>I often felt emotionally drained</label> <br>

        <input type="checkbox" name="Q_Depressed">
        <label>I often felt depressed or anxious or angry</label> <br>

        <input type="checkbox" name="Q_Abused">
        <label>I was verbally and/or emotionally abused</label> <br>

        <input type="checkbox" name="Q_PartnerAbuse">
        <label>I verbally and/or emotionally abused him/her</label> <br>

        <input type="checkbox" name="Q_ShutDown">
        <label>I often shut down</label> <br>

        <input type="checkbox" name="Q_PartnerShutDown">
        <label>He/she often shut down</label> <br>

        <input type="checkbox" name="Q_PrivacyRespected">
        <label>My privacy was often not respected</label> <br>

        <input type="checkbox" name="Q_OnOff">
        <label>We had on/off relationship/situationship</label> <br>

        <input type="checkbox" name="Q_Judged">
        <label>I often felt judged by my partner</label> <br>

        <input type="checkbox" name="QP_Communication">
        <label>We had good communication</label> <br>

        <input type="checkbox" name="Q_Controlled">
        <label>I felt controlled</label> <br>

        <input type="checkbox" name="Q_Trapped">
        <label>I felt trapped/stuck in the relationship/situationship</label> <br>

        <input type="checkbox" name="QP_TrueToSelf">
        <label>I was able to stay true to my identity</label> <br>

        <input type="checkbox" name="Q_ComparedToOthers">
        <label>I often compared my partner to other people or other relationships</label> <br>

        <input type="checkbox" name="Q_MovedTooFast">
        <label>We moved too fast</label> <br>

        <input type="checkbox" name="Q_ShowOff">
        <label>I often felt my partner was showing off</label> <br>



        <h3>Personality Test</h3>
        <!-- <p>Left: I base my relationship decisions on what make the most logical sense</p>
<p>Right: I base my decisions on what 'feels right.'</p>  -->


        <div class="d-flex justify-content-center my-4" id="S1_LogicVsFeelings">
            <span class="font-weight-bold blue-text mr-2 mt-1">I base my relationship decisions on what makes the most logical sense.</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S1_LogicVsFeelings" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I base my decisions on what 'feels' right.</span>
        </div>
        </br>
        </br>


        <div class="d-flex justify-content-center my-4" id="S1_QuitsVsStays">
            <span class="font-weight-bold blue-text mr-2 mt-1">I know when to call it quits.</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S1_QuitsVsStays" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I stay in relationships longer than I should.</span>
        </div>
        </br>
        </br>
        <div class="d-flex justify-content-center my-4" id="S1_PracticalVsEmotional">
            <span class="font-weight-bold blue-text mr-2 mt-1">I seek practical benefits in relationships.</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S1_PracticalVsEmotional" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I seek emotional benefits in relationships.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S1_CompatibilityVsChemistry">
            <span class="font-weight-bold blue-text mr-2 mt-1">Compatibility is more important than chemistry.</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S1_CompatibilityVsChemistry" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">Chemistry is more important than compatibility</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S2_ImprovementVsAcceptance">
            <span class="font-weight-bold blue-text mr-2 mt-1">I think everyone has room to improve themselves</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S2_ImprovementVsAcceptance" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I love and appreciate my partner for who they are.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S2_ShortcomingsVSAcceptance">
            <span class="font-weight-bold blue-text mr-2 mt-1">I think my partner should actively work on their shortcomings</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S2_ShortcomingsVSAcceptance" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I don't judge my partner for their shortcomings</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S2_ShortcomingsVSAcceptance">
            <span class="font-weight-bold blue-text mr-2 mt-1">What my friends and family think of my partner is very important to me</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S2_ShortcomingsVSAcceptance" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I don't care what my friends and family think about my partner.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S2_PickyVsPositives">
            <span class="font-weight-bold blue-text mr-2 mt-1">I am picky.</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S2_PickyVsPositives" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I easily find positives in my partner.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S3_SocialAcceptanceVsDontCare">
            <span class="font-weight-bold blue-text mr-2 mt-1">What my friends and family think of my partner is very important to me.</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S3_SocialAcceptanceVsDontCare" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I don't care what my friends and family think about my partner.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S3_SimilarVsDifferent">
            <span class="font-weight-bold blue-text mr-2 mt-1">I prefer a partner lives by a similar lifestyle</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S3_SimilarVsDifferent" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I appreciate different ways of doing life.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S4_LowStandardsVsHighStandards">
            <span class="font-weight-bold blue-text mr-2 mt-1">I lower my standards to be in a relationship</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S4_LowStandardsVsHighStandards" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I only get in relationships if they meet or exceed my standards.</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S4_ImBetterVsMatch">
            <span class="font-weight-bold blue-text mr-2 mt-1">I feel more secure in a relationship if I know I’m better than my partner</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S4_ImBetterVsMatch" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I feel more secure in a relationship with a partner who is a match or better than me</span>
        </div>
        </br>
        </br>

        <div class="d-flex justify-content-center my-4" id="S4_StayIfImBetterVsStayIfPartnerBetter">
            <span class="font-weight-bold blue-text mr-2 mt-1">I stay in relationships longer if I think I’m better than my partner</span>
            <div class="range-field w-50">
                <input class="border-0" type="range" min="0" max="100" name="S4_StayIfImBetterVsStayIfPartnerBetter" />
            </div>
            <span class="font-weight-bold blue-text ml-2 mt-1">I stay in relationships longer if I think my partner is better than me</span>
        </div>
        </br>
        </br>


        <!-- Submit -->

        <button type="submit" value="Submit">Submit</button>
    </form>
    </body>

</html>