<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    
    <title>Flask parent Template</title>
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">Love Formular Web App</h1>
            <strong><nav>
                <ul class = "main">
                    <!-- <li><a href="{{ url_for ('home') }}">Home</a></li> -->
                    <li><a href="{{ url_for ('form') }}">Form</a></li>   
                    <li><a href="{{ url_for ('login') }}">Login</a></li>
                    <li><a href="{{ url_for ('logout') }}">Logout</a></li>    
                    <li><a href="{{ url_for ('user') }}">User</a></li>  
                </ul>
            </nav></strong>
        </div>
    </header>


    {% block content %} {% endblock %}

</body>

</html>